* {
    margin: 0;
    padding: 0;
}
body{
    max-width:1600px;
}

header {
    max-width:1170px;
}

main {
    max-width:1170px;
}

footer {
    max-width:1170px;
}
.nav-link {
    font-weight:700;
    color:black;

}


.form-search {
    height: 38px;
    width: 403px;
    border-radius: 3px;
    border: #e6e6e6 solid 1px;
}

    .form-search::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        display: block;
        content: "Browse";
        background-color: #e9ecef;
    }

.slider {
    background-color: #e8e8e8!important;
}

#imgpad1 {
    padding-bottom:10px;
}
#imgpad2 {
    padding-top: 10px;
}

#imgpad3 {
    padding-bottom: 10px;
}

#imgpad4 {
    padding-top: 10px;
}

#imgdiv1 {
    padding-right:10px;
}
#imgdiv2 {
    padding-left: 10px;
}

#imgproduct1 {
    padding-right:15px;
}
#imgproduct2 {
    padding-right: 15px;
    padding-left:15px;
}
#imgproduct3 {
    padding-right: 15px;
    padding-left: 15px;
}
#imgproduct4 {
    padding-left: 15px;
}
#imgproduct5 {
    padding-right: 15px;
}

#imgproduct6 {
    padding-right: 15px;
    padding-left: 15px;
}

#imgproduct7 {
    padding-right: 15px;
    padding-left: 15px;
}

#imgproduct8 {
    padding-left: 15px;
}

#productrow {
    margin-bottom:1rem;
}

.productname {
    font-size:1rem;
    font-weight:500;
    margin-left:1rem;
    margin-top:0.5rem;
}

.price {
    color: #f16d7f;
    font-weight:500;
    font-size:1rem;
    margin-left:1rem;
}

#feature {
    background-color: #222224;
    max-height:530px;
}

#winterwoman {
    background-image:url("../img/winterwoman.jpg");
    font-size:3rem;
    color:white;
    
}

.featuretext {
    margin-top:2rem;
}

.subscribe {
    background-image: url(../img/subscribe.jpg);
    height:438px;
}

#browsebutton {
    background-color: #f16d7f;
}
